body {
    font-family: "Arial", sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #555555;
    margin-top: 40px;
}

p {
    color: #666666;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    color: #333333;
    margin-bottom: 10px;
}

.language-logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.container p:first-of-type {
    font-size: 1.2em;
    font-weight: bold;
}

.container p:last-of-type {
    text-align: justify;
}

.container ul {
    margin-bottom: 30px;
}

.container ul li {
    margin-left: 20px;
}

.container ul li:before {
    content: "•";
    color: #888888;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.container ul li:last-child {
    margin-bottom: 0;
}

