body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

#output {
	margin-top: 50px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 50%;
	margin: 0 auto;
}
